@charset "utf-8";

*,  *::before, *::after {
    box-sizing: border-box;
    font-family: 'Noto Sans Jp', sans-serif;
}

:root {
    --main-color: #4A4A4A;
    --sub-color:#EFEFEF;
    --blue: #00b2ff;
    --red: #ff4b00;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    background-color: var(--sub-color);
}

/* ここからヘッダー */


 /* ダークモード用の色を設定 */
 :root[theme="dark"] {
    --main-color: black;
  }


header {
    display: flex;
	align-items:center;
    width: 100%;
    padding: 0 48px;
    background-color: var(--main-color);
    color: white;
}

header h1 {
    margin: 8px 0;
}

header .right-side {
    display: flex;
    height: 28px;
    margin-left: auto;
}

header .right-side span {
    margin: 0 5px;
    font-size: 28px;
}

header .right-side a {
    color: white;
    text-decoration: none;
}

header .right-side a:hover {
    color: var(--blue);
}

header .right-side .icon-menu {
    padding-right: 12px;
}

header .right-side .user-menu {
    padding-left: 12px;
    border-left: 2px solid white;
}

header .right-side .user-menu span {
    margin: 0;
}

header .right-side .user-menu .user-name {
    margin-right: 24px;
    font-size: 16px;
}
/* ここまでヘッダー */

.material-symbols-outlined { /* アイコン */
    display: inline-flex;
    vertical-align: middle;
    font-variation-settings: 'FILL' 1;
}

.txt-red {
    color: var(--red);
}

.btn {
    display: inline-block;
    width: 120px;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 100px;
    background-color: white;
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

.btn:active {
    filter: brightness(0.9);
}