@charset "UTF-8";


body{
    text-align: center;
}

#jog_reg{
    max-width: 600px;
    margin: auto;
}


#edit{
    max-width: 600px;
    margin: auto;
}

.required {
    color: var(--red);
    margin-left: 5px;
}


table,th, td {
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    padding: 10px;
    border-collapse: collapse;
}


table{
    margin-top: 3rem;
    width: 100%;
    table-layout: fixed;
}


th{
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    padding-left: 4rem;
    color: rgb(167, 166, 166);
}

td{
    padding-right: 4rem;
}
 

.btn-submit{
    background-color: #00BFFF;
    color: white;
}