@charset "UTF-8";


#jog_reg body,
#edit body{
    text-align: center;
}

#jog_reg h1,
#edit h1{
    text-align: center;
}

#jog_reg{
    max-width: 600px;
    margin: auto;
}


#edit{
    max-width: 600px;
    margin: auto;
}

.required {
    color: var(--red);
    margin-left: 5px;
}


#jog_reg table,
#jog_reg th,
#jog_reg td,
#edit table,
#edit th, 
#edit td {
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    padding: 10px;
    border-collapse: collapse;
}


#jog_reg table,
#edit table{
    margin-top: 3rem;
    width: 100%;
    table-layout: fixed;
    
}


#jog_reg th,
#edit th{
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    padding-left: 4rem;
    color: rgb(167, 166, 166);
}

#jog_reg td,
#edit td{
    padding-right: 4rem;
}


#jog_reg .btn-cancel,
#edit .btn-cancel {
    margin: 2rem 1rem 0 11rem;
}

#jog_reg .btn-submit,
#edit .btn-submit {
    background-color: var(--blue);
    color: white;
}